<div class="wrapper">
  <div>
    <svg height="2000" width="1000">

        <!--Please note that the subtasks need to be drawn from the highest to the lowest level to appear correctly
         THis means the lowest subtask needs to be the first in the subtask_list, while the main parent task is last-->
        <g *ngFor="let subtask of subtask_list">
          <line [attr.x1]="subtask.posXCon1" [attr.y1]="subtask.posYCon1" [attr.x2]="subtask.posX1" [attr.y2]="subtask.posY1" [attr.stroke]="colors[subtask.level % colors.length]" [attr.stroke-width]="line_width"/>
          <line [attr.x1]="subtask.posX1" [attr.y1]="subtask.posY1" [attr.x2]="subtask.posX2" [attr.y2]="subtask.posY2" [attr.stroke]="colors[subtask.level % colors.length]" [attr.stroke-width]="line_width"/>
          <circle [attr.cx]="subtask.posX2" [attr.cy]="subtask.posY2" [attr.r]="circle_size_small" [attr.fill]="colors[subtask.level % colors.length]"/>
          <line [attr.x1]="subtask.posX2" [attr.y1]="subtask.posY2" [attr.x2]="subtask.posXCon2" [attr.y2]="subtask.posYCon2" [attr.stroke]="colors[subtask.level % colors.length]" [attr.stroke-width]="line_width"/>
          <circle [attr.cx]="subtask.posX1" [attr.cy]="subtask.posY1" [attr.r]="circle_size_big" [attr.stroke]="colors[subtask.level % colors.length]" [attr.fill]="color_white" [attr.stroke-width]="circle_stroke_width"/>
        </g>

        <circle [attr.cx]="offset_x" [attr.cy]="offset_y" [attr.r]="circle_size_start" [attr.fill]="colors[0]"/>
        <line [attr.x1]="offset_x" [attr.y1]="offset_y" [attr.x2]="offset_x" [attr.y2]="offset_y + total_height" [attr.stroke]="colors[0]" [attr.stroke-width]="line_width"/>
        <circle [attr.cx]="offset_x" [attr.cy]="total_height + offset_y" [attr.r]="circle_size_small" [attr.fill]="colors[0]"/>
    </svg>
  </div>

  <div class="cardcontainer">
    <div class="card" *ngFor="let item of datafield_ids" [id]="item"></div>
  </div>

</div>

